extends ../layout

block content
    if author
        h1 #{t('home.author')}: #{author.name()}
        p (#[strong #{author.date_of_birth}] - #[strong #{author.date_of_death}])

        div(class='detail-item')
            if books.length > 0
                each book in books
                    hr
                    p #[strong #{book.title}] 
                    p #{book.summary}
            else
                p #{t('home.no-author')}
    else
        p #{t('home.no-author')}
    hr
    p
        a(href=`/authors/delete/${author.id}`) #{t('form.author-delete')}
    p
        a(href=`/authors/update/${author.id}`) #{t('form.author-update')}
