extends ../layout
block content
    h1 #{t('home.genre')}
    form(method='POST' action= (genre? `/genres/update/${genre.id}` : '/genres/add'))
        div.form-group
            label(for='name') #{t('home.genre')}:
            input#name.form-control(type='text' placeholder='Fantasy, Poetry etc.'
                name='name' required value=(undefined===genre ? '' : genre.name))
        button.btn.btn-primary(type='submit') #{t('home.update-sm')}
        if errors
            ul
                for error in errors
                    li!= error.msg