extends ../layout

block content
  h1 #{t('home.list-books')}
  if books.length
    ul
      each book in books
        li
          a(href=book.url()) #{book.title}
          |  (#{book.author.name()})
  else
    p #{t('home.book-empty')}
